.home-banner {
    padding: 75px 0 0 0;
    text-align: center;
    margin: auto;
    background-image: url('https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    min-height: 300px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.store-btn {
    margin: auto;
}

.store-btn:hover {
    background-color: seagreen;
}

.featured-items {
    display: flex;
    flex-wrap: wrap
}

.featured-image {
    background-image: url('https://images.pexels.com/photos/35435/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=400');
    width: 100%;
    padding-top: 400px;
    object-fit: cover;
}

.featured-content {
    min-height: 400px;
    width: 100%;
    background-color: #decdf5;
    text-align: center;
    padding: 150px 50px;
}

@media screen and (min-width: 768px) { 
    .featured-image {
    width: 50%;
    object-fit: contain;   
}

.featured-content {
    width: 50%;
} 


}