.main-container {
  display:flex;
}

.aside {
  flex: 1;
}

.product-list-container {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.product-card {
  flex-basis: 300px;
  width: 250px;
  height: 250px;
  padding: 2.5px;
}

.product-card h4, .product-card p {
   text-align: center;
   padding: 2.5px;
}

.product-card img, .product-card button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product-header {
  text-align: center;
  padding: 10px;
}